body{
  margin: 0;
  padding: 0;
  min-height: 700px;
}
.container-site{
  width: 95%;
  margin: 5px auto;
  outline: 3px solid black;
}
.container-site-header{
  outline: 1px solid grey;
  height: 50px;
  /*margin: 5px auto;*/
}
.container-site-innerBody{
  outline: 1px solid green;
}
.container-site-footer {
	background:#ffab62;
	width:95%;
	height:100px;
	position:absolute;
	bottom:0;
	left:50%;
  transform: translate(-50%, 0);
}
